<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>

    <div class="container">
        <div class="col s12" id="DivContacto" style="margin-top:3em;">
            <div class="">
                <div class="card-panel m-0 p-3 red darken-4 rounded-0" style="border-radius:20px !important; text-align: center !important;">
                    <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 14px;">DATOS DE CONTACTO</span>
                </div>
                <div class="card-content p-3">

                        <div class="col s12 m8 offset-m2 l6 offset-l3">
                            <div class="card-panel grey lighten-5 z-depth-1" style="border-radius: 20px !important;">
                                <div class="row valign-wrapper">
                                    <div class="col s2">
                                        <img src="images/img/phone.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                    </div>
                                    <div class="col s10">
                                        <span class="black-text">
                                            Telf. + 51 1 618 5151
                                        </span>
                                        <a  href="tel:+5116185151" style="background-color: #B71C1C ; margin-left: 2em;" class="waves-effect waves-light btn">Llamar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m8 offset-m2 l6 offset-l3" style="border-radius: 20px !important;">
                            <div class="card-panel grey lighten-5 z-depth-1" style="border-radius: 20px !important;">
                                <div class="row valign-wrapper">
                                    <div class="col s2">
                                        <img src="images/img/ubication.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                    </div>
                                    <div class="col s10">
                                        <span class="black-text">
                                            Av. Aramburú N° 668 Lima 34
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m8 offset-m2 l6 offset-l3">
                            <div class="card-panel grey lighten-5 z-depth-1" style="border-radius: 20px !important;">
                                <div class="row valign-wrapper"> 
                                    <div class="col s2">
                                        <img src="images/img/calender.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                    </div>
                                    <div class="col s10">
                                        <span class="black-text">
                                            <b>Lunes a Viernes:</b><br />
                                            9:00am - 6:00pm (Verano)<br />
                                            9:00am - 7:00pm (Resto del año)<br />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m8 offset-m2 l6 offset-l3">
                            <div class="card-panel grey lighten-5 z-depth-1" style="border-radius: 20px !important;">
                                <div class="row valign-wrapper">
                                    <div class="col s2">
                                        <img src="images/img/mail.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                    </div>
                                    <div class="col s10">
                                        <span class="black-text">
                                            <span>Informes : </span> <a href="mailto:alfredo@notariapaino.com.pe">alfredo@notariapaino.com.pe</a>
                                            <span>Soporte  Técnico : </span> <a href="mailto:sistemas@notariapaino.com.pe">sistemas@notariapaino.com.pe</a>
                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <a href="https://api.whatsapp.com/send?phone=51924060249&text=Hola%20Notar%c3%ada%20Paino%21%20Me%20conecto%20desde%20su%20sitio%20web%2c%20en%20la%20ventana%20Home%20%28https%3a%2f%2fwww.notariapaino.com.pe%2f%29&source=&data=">
                            <img class="wsp" src="images/img/whatsApp-clic-para-chatear.png" />
                        </a>

                </div>
            </div>
        </div>
    </div>
    
</body>
</html>