<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col s6 offset-s6" id="DivConsultasDeContrato" style="margin-top:2em;">
            <i style="font-size:20px;">Bienvenido: </i>&nbsp;
            <i style="font-size:20px;"><b> Empresa S.A.C</b></i>
            &nbsp;&nbsp;&nbsp;<i style="font-size:20px;" class="far fa-times"></i>
        </div>
    </div>
        <div class="col s12" id="DivConsultasDeContrato" style="margin-top:6em;">

            <div class="row center-align" style="margin-top:3em;">
                <div class="col s4 center-align">
                    <a href="javascript:fnpintarformMenu('ConsultasEnLinea/ConsultasCorporativos/Busqueda.html')"><i style="font-size:40px;" class="far fa-search"></i></a>
                </div>
                <div class="col s4" center-align">
                    <a href="javascript:fnpintarformMenu('ConsultasEnLinea/ConsultasCorporativos/Kardex.html')"><i style="font-size:40px;" class="far fa-folder"></i></a>
</div>
                <div class="col s4" center-align">
                    <a href="javascript:fnpintarformMenu('ConsultasEnLinea/ConsultasCorporativos/Contratantes.html')"><i style="font-size:40px;" class="far fa-file-contract"></i></a>
</div>
            </div>

            <div class="row center-align" style="margin-top:3em;">
                <div class="col s4 center-align">
                    <i>Búsqueda</i>
                </div>
                <div class="col s4" center-align">
                    <i>Kardex</i>
                </div>
                <div class="col s4" center-align">
                    <i>Contratantes</i>
                </div>
            </div>

            <div class="row center-align" style="margin-top:3em;">
                <div class="col s4 center-align">
                    <a href="javascript:fnpintarformMenu('ConsultasEnLinea/ConsultasCorporativos/MinutaEscritura.html')"><i style="font-size:40px;" class="far fa-file-certificate"></i></a>
</div>
                <div class="col s4" center-align">
                    <a href="javascript:fnpintarformMenu('ConsultasEnLinea/ConsultasCorporativos/Vehiculares.html')"><i style="font-size:40px;" class="far fa-car"></i></a>
                </div>
                <div class="col s4" center-align">
                    <a href="javascript:fnpintarformMenu('ConsultasEnLinea/ConsultasCorporativos/RegPublicos.html')"><i style="font-size:40px;" class="far fa-file-chart-line"></i></a>
</div>
            </div>

            <div class="row center-align" style="margin-top:3em;">
                <div class="col s4 center-align">
                    <i>Minuta-Escritura</i>
                </div>
                <div class="col s4" center-align">
                    <i>Vehiculares</i>
                </div>
                <div class="col s4" center-align">
                    <i>Reg.Publicos</i>
                </div>
            </div>

            <div class="row center-align" style="margin-top:3em;">
                <div class="col s4 center-align">
                    <a href="javascript:fnpintarformMenu('ConsultasEnLinea/ConsultasCorporativos/CheckList.html')"><i style="font-size:40px;" class="far fa-file-chart-pie"></i></a>
                </div>
                <div class="col s4" center-align">
                    <a href="javascript:fnpintarformMenu('ConsultasEnLinea/ConsultasCorporativos/Balance.html')"> <i style="font-size:40px;" class="far fa-book"></i></a>
</div>
                <div class="col s4" center-align">
                    <a href="javascript:fnpintarformMenu('ConsultasEnLinea/ConsultasCorporativos/Calendario.html')"><i style="font-size:40px;" class="far fa-calendar-day"></i></a>
</div>
            </div>

            <div class="row center-align" style="margin-top:3em;">
                <div class="col s4 center-align">
                    <i>CheckList</i>
                </div>
                <div class="col s4" center-align">
                    <i>Balance</i>
                </div>
                <div class="col s4" center-align">
                    <i>Calendario</i>
                </div>
            </div>

        </div>

</body>
</html>