<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>

    <link href="css/Preload.css" rel="stylesheet" />

    <div class="loader" id="contenerdor_Carga">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
        <div id="textopre"><span>Cargando datos...</span></div>
    </div>

    <div class="container">
        <form class="col s12" id="DivConsultasDeContrato" style="margin-top:-1em;">
            <div class="card">

                <div class="card-content p-3">
                    <div class="row center-align">
                        <div class="col s12">
                            <span class=" font-weight-bold" style="font-size: 20px;color:#a73924;">Verificador de Documentos Electrónico</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="container">
                                    <p> Aquí podrá verificar la autenticidad de los Documentos Electrónicos expedidos por Notaría Paino, los cuales poseen Certificación Digital y Sello de Autenticidad. Por favor, ingrese el dato que aparece debajo del código QR de su documento </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="responsive-img" src="images/img/muestra-TE.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <input placeholder="Datos" id="dato" name="" type="text" class="form-control col s12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center;margin-top:3em;" class="col-lg-3">
                        <a class="btn waves-effect waves-light red" id="btnVerificar">Verificar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>


  

  
    <script src="scripts/ConsultasEnLinea/ConsultaDocumentosElectronicos.js"></script>

</body>
</html>