<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

</head>
<body>
    <link href="css/Preload.css" rel="stylesheet" />


    <div class="loader" id="contenerdor_Carga">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>



   
    <div class="row" id="notificacionesx" style="padding-top: -28px;">

       

    </div>

 
    <script src="scripts/Notificaciones/Notifi.js"></script>
    <script>
        var PerTide = sessionStorage.getItem('PerTide');
        var PerIdenro = sessionStorage.getItem('PerIdenro');
        $("#txtNroDoc").val(PerIdenro);
    </script>
</body>
</html>