
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div class="container">

        <form class="col s12" id="divBusqueda" style="margin-top:3em;">
            <div class="card">
                <div class="card-panel m-0 p-3 red darken-4 rounded-0">
                    <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 14px;">Minuta-Escritura</span>
                </div>
                <div class="card-content p-3">

                    <div class="row">
                        <div class="col s4"><label>Kardex:</label></div>
                        <div class="col s7">
                            <input placeholder="Kardex" id="txtKardex" name="txtKardex" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Fecha de Ingreso:</label></div>
                        <div class="col s7">
                            <input id="txtfechaIngreso" name="txtfechaIngreso" type="date" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Contrato:</label></div>
                        <div class="col s7">
                            <input placeholder="Contrato" id="txtContrato" name="txtContrato" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Indicación:</label></div>
                        <div class="col s7">
                            <input placeholder="Indicación" id="txtIndicacion" name="txtIndicacion" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Abogado:</label></div>
                        <div class="col s7">
                            <input placeholder="Abogado" id="txtAbogado" name="txtAbogado" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Correo:</label></div>
                        <div class="col s7">
                            <input placeholder="Correo" id="txtCorreo" name="txtCorreo" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Estado:</label></div>
                        <div class="col s7">
                            <input placeholder="Estado" id="txtEstado" name="txtEstado" type="text" class="form-control col s12">
                        </div>
                    </div>

                </div>
            </div>

            <div class="card">
                <div class="card-panel m-0 p-3 red darken-4 rounded-0">
                    <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 14px;">Minuta</span>
                </div>
                <div class="card-content p-3">

                    <div class="row">
                        <div class="col s4"><label>Nro de Minuta:</label></div>
                        <div class="col s7">
                            <input placeholder="Nro de Minuta" id="txtnrMinuta" name="txtnrMinuta" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Fecha de Minuta:</label></div>
                        <div class="col s7">
                            <input id="txtFechaMinuta" name="txtFechaMinuta" type="date" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Fecha Firma de Cont.:</label></div>
                        <div class="col s7">
                            <input id="txtFechaFirmadeC" name="txtFechaFirmadeC" type="date" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Nro de Expediente:</label></div>
                        <div class="col s7">
                            <input placeholder="Nro de Expediente" id="txtNroExpediente" name="txtNroExpediente" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Abogado Externo:</label></div>
                        <div class="col s7">
                            <input placeholder="Abogado" id="txtAbogadoE" name="txtAbogadoE" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Gestor de la Cuenta:</label></div>
                        <div class="col s7">
                            <input placeholder="Gestor de la Cuenta" id="txtGestorC" name="txtGestorC" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Correo Abo.Ext:</label></div>
                        <div class="col s7">
                            <input placeholder="Correo Abo.Ext" id="txtCorreoAbo" name="txtCorreoAbo" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-panel m-0 p-3 red darken-4 rounded-0">
                    <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 14px;">Escritura</span>
                </div>
                <div class="card-content p-3">

                    <div class="row">
                        <div class="col s4"><label>Nro de Escritura:</label></div>
                        <div class="col s7">
                            <input placeholder="Nro de Escritura" id="txtnrEscritura" name="txtnrEscritura" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Fecha de Escritura:</label></div>
                        <div class="col s7">
                            <input id="txtFechaEscritura" name="txtFechaEscritura" type="date" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Fecha Conclu. de Firnma:</label></div>
                        <div class="col s7">
                            <input id="txtFechaConclucionFirma" name="txtFechaConclucionFirma" type="date" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Fecha Fimra de Notario:</label></div>
                        <div class="col s7">
                            <input id="txtFechaFirmaNotario" name="txtFechaFirmaNotario" type="date" class="form-control col s12">
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</body>
</html>
