
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <form class="col s12" id="divBusqueda" style="margin-top:3em;">
            <div class="card">
                <div class="card-panel m-0 p-3 red darken-4 rounded-0">
                    <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 14px;">Registros Publicos</span>
                </div>
                <div class="card-content p-3">

                    <div class="row">
                        <div class="col s4"><label>Kardex:</label></div>
                        <div class="col s7">
                            <input placeholder="Kardex" id="txtKardex" name="txtKardex" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Fecha de Ingreso:</label></div>
                        <div class="col s7">
                            <input id="txtfechaIngreso" name="txtfechaIngreso" type="date" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Contrato:</label></div>
                        <div class="col s7">
                            <input placeholder="Contrato" id="txtContrato" name="txtContrato" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Indicación:</label></div>
                        <div class="col s7">
                            <input placeholder="Indicación" id="txtIndicacion" name="txtIndicacion" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Abogado:</label></div>
                        <div class="col s7">
                            <input placeholder="Abogado" id="txtAbogado" name="txtAbogado" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Correo:</label></div>
                        <div class="col s7">
                            <input placeholder="Correo" id="txtCorreo" name="txtCorreo" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><label>Estado:</label></div>
                        <div class="col s7">
                            <input placeholder="Estado" id="txtEstado" name="txtEstado" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-panel m-0 p-3 red darken-4 rounded-0">
                    <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 14px;"></span>
                </div>
                <div class="card-content p-3">

                    <div class="row">
                        <div class="col s9"><label style="font-size:20px;"><b>1.Titulo</b></label></div>
                    </div>
                    <div class="row">
                        <div class="col s9"><label style="font-size:18px;">Fecha</label></div>
                    </div>
                    <div class="row">
                        <div class="col s9"><label style="font-size:18px;">Tramite</label></div>
                    </div>
                    <div class="row">
                        <div class="col s9"><label style="font-size:18px;">Fecha Salida</label></div>
                    </div>
                    <div class="row">
                        <div class="col s9"><label style="font-size:18px;">Situacion Registral</label></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
