<link href="css/Preload.css" rel="stylesheet" />


<div class="loader" id="contenerdor_Carga">
    <div class="loader-inner">
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>

        <div id="textopre"><span>Cargando, Espere...</span></div>
    </div>
</div>


<div class="container">
    <div class="col s12" id="DivInfo" style="margin-top:3em;">
        <div class="card">
            <div class="card-panel m-0 p-3 red darken-4 rounded-0" style="text-align:center;">
                <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 16px;">
                    Solicitud de Testimonio y Copias Simples
                </span>
            </div>
            <div class="card-content p-3">
                <div class="row ">
                    <div class="col s12">
                        <span class=" font-weight-bold" style="font-size: 14px;color:#a73924;">

                        </span>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="container">
                                <p style="font-size: 12px;">
                                    Requisitos:<br /><br />

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">

                </div>

                <div style="text-align:center;margin-top:3em;" class="col-lg-3">
                    <button id="btnFrmVIP" name="btnFrmVIP" class="waves-effect red darken-4 btn">Formulario</button>
                </div>

            </div>
        </div>
    </div>
    <div class="col s12" id="DivForm" style="margin-top:3em;">
        <div class="card">
            <div class="card-panel m-0 p-3 red darken-4 rounded-0" style="text-align:center;">
                <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 16px;">
                    Solicitud de Testimonio y Copias Simples
                </span>
            </div>
            <div class="card-content p-3">
                <div class="row ">
                    <div class="col s12">
                        <span class=" font-weight-bold" style="font-size: 14px;color:#a73924;">

                        </span>
                    </div>
                </div>
                <div class="row ">
                    <div class="container">
                        <div class="row">
                            <div class="col s5"><label>Kardex</label></div>
                            <div class="col s7">
                                <input placeholder="Kardex" id="txtKardex" name="txtKardex" type="text"
                                    class="form-control">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col s5"><label>Fecha</label></div>
                            <div class="col s7">
                                <input placeholder="Fecha" id="txtFecha" name="txtFecha" type="Date"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s5"><label>Documento</label></div>
                            <div class="col s7">
                                <select id="cboTipoD" name="cboTipoD" class="browser-default" style="">
                                    <option value="00">[SELECCIONAR]</option>
                                    <option value="T">TESTIMONIO</option>
                                    <option value="CS">COPIA SIMPLE</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s5"><label>Tipo Doc.</label></div>
                            <div class="col s7">
                                <select id="cboTipoE" name="cboTipoE" class="browser-default" style="">
                                    <option style="color: #a73924;"value="00">[SELECCIONAR]</option>
                                    <option value="F">FISICO</option>
                                    <option value="E">ELECTRONICO</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    <br>
                    <div class=" col s12">
                        <p>Solicitante</p>
                        <hr>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col s5"><label>Documento</label></div>
                            <div class="col s7">
                                <select id="CboTipoDocumento" name="CboTipoDocumento" class="browser-default" style="">
                                    <option value="D">DNI</option>
                                    <option value="CE">C. EXTRANJ</option>
                                    <option value="PS">PASAPORTE</option>
                                    <option value="TI">T. IDENTIDAD</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s10 ">
                                <input placeholder="Numero" id="txtNumDocumento" name="txtNumDocumento" type="number"
                                    class="form-control">
                            </div>
                            <div class="col s2">
                                <a class="fas fa-search prefix" style="font-size:2rem;top: -0.2px;left: -5px;"
                                    href="javascript:fnBuscarPerPadres();"></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 ">
                                <input placeholder="Nombres" id="txtNombreP" name="txtNombreP" type="text"
                                    class="form-control col s12">
                            </div>
                        </div>
                       

                        <div class="row">
                            <div class="col s12 ">
                                <input placeholder="E-Mail " id="txtEmail" name="txtEmail" type="text"
                                    class="form-control col s12">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="enviopanel">
                    <br />

                    <div class="col s12">
                        <div class="col s6"> <label>Envío por delivery</label> </div>
                    <div class="col s6">
                        <div class="switch">
                            <label>
                                No
                                <input type="checkbox" id="chbdomicilio" name="chbdomicilio">
                                <span class="lever"></span>
                                Si
                            </label>
                        </div>
                        <input type="hidden" id="txtRepresentante" name="txtRepresentante" />
                    </div>

                    </div>
                    
                </div>

                <div id="divRepresentanteOn" name="divRepresentanteOn">
                    <br>
                    <div class="row">
                        <div class="col s5"><label>Distrito</label></div>
                        <div class="col s7">
                            <select id="cboIPDIstrito" name="cboIPDIstrito" class="browser-default "></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 ">
                            <input placeholder="Dirección" id="txtIPDireccion" name="txtIPDireccion" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row" id="precio-send"> 
                        <div class="col s5"><label>Precio de Envío</label></div>
                        <div class="col s7">
                            <input style="font-weight: 600;     font-size: 20px;"placeholder="Cargando..." id="txtPrecio" name="txtPrecio" type="text"
                                class="form-control">
                        </div>
                    </div>
                </div>


                <div style="text-align:center;margin-top:3em;" class="col-lg-3">
                    <button id="btnAceptar" name="btnAceptar" class="waves-effect red darken-4 btn">Enviar</button>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col s12" id="DivTestimonioSoli" style="margin-top:3em;">
        <div class="card">
            <div class="card-panel m-0 p-3 red darken-4 rounded-0" style="text-align:center;">
                <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 16px;">
                    Solicitud de Testimonio y Copias Simples
                </span>
            </div>
            <div class="card-content p-3">
                <div class="row ">
                    <div class="col s12">
                        <span class=" font-weight-bold" style="font-size: 14px;color:#a73924;">

                        </span>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="container">
                                <p style="font-size: 12px;">
                                    Kardex:	424501<br /><br />

                                    Tipo de Documento:	TESTIMONIO<br /><br />

                                    Formato:	FISICO<br /><br />

                                    Solicitante:	D-10148653 THORNE CORIGLIANO THOMAS NATHAN<br /><br />

                                    Email:	neleweriffu-5235@yopmail.com<br /><br />

                                    Precio Testimonio:	S/ 40.00<br /><br />

                                    Precio Envío:	S/ 0.00<br /><br />

                                    Total a Pagar:	S/ 40.00<br /><br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div style="text-align:center;margin-top:3em;" class="col s6">
                        <button id="btnAtras" name="btnAtras" class="waves-effect red darken-4 btn">Atras</button>
                    </div>
                    <div style="text-align:center;margin-top:3em;" class="col s6">
                        <button data-toggle="modalb" data-target="#mdDetallePago" id="btnPagar" name="btnPagar" class="waves-effect blue darken-4 btn">Pagar</button>
                    </div>
                </div>
                

            </div>
        </div>
    </div>



</div>


<div class="modalb fade" id="mdDetallePago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modalb-dialog" role="document">
        <div class="modalb-content">
            <div class="modalb-header">
                <h5 class="modalb-title" id="MDLNuevoHijoLabel">Detalle Pago</h5>
            </div>
            <div class="modalb-body">
                <div class="row">
                    <div class="col s12">
                        <input id="txtNumeroDocHijo" name="txtNumeroDocHijo" type="text" class="form-control" placeholder="Numero" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label>PEN</label>
                        <input id="txtNacimientoHijo" name="txtNacimientoHijo" type="text" class="form-control">
                    </div>
                </div>
                

            </div>
            <div class="modalb-footer">       
                <button type="button" id="btnGuardarHijos" name="btnGuardarHijos" class="btn btn-primary" data-dismiss="modalb">Continuar</button>
                <button type="button" class="btn red lighten-1" data-dismiss="modalb">Cancelar</button>
            </div>
        </div>
    </div>
</div>




<script src="scripts/Testimonio/Testimonio.js"></script>