<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>

    <!-- Formulario -->
    <div class="container">
        <form class="col s12" id="DivFormConstHipotecas" style="margin-top:3em;">
            <div class="card">
                <div class="card-panel m-0 p-3 red darken-4 rounded-0">
                    <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 14px;">Formulario de Consultas</span>
                    <span class="red darken-4 colorwhite font-weight-bold left-align" style="font-size: 14px;float:right;"><i style="font-size:22px;" class="far fa-eye-slash" id="OcultarHP"></i></span>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Nombre y Apellidos</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="Nombre y Apellidos" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">E-Mail</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="E-Mail" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Teléfono</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="Teléfono" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Horario para Contactar</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="Horario para Contactar" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Nombre de Empresa</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="Nombre de Empresa" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Consultas que deseaba realizar</label>
                        </div>
                        <div class="col s7">
                            <textarea placeholder="Consultas que deseaba realizar" id="" name="" type="text" class="form-control col s12" rows="10" cols="50"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div style="text-align:center;margin-top:3em;" class="col-lg-3">
                        <a class="btn waves-effect waves-light red" href="#">Enviar</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <!-- Fin Formulario -->

    <div class="container">
        <form class="col s12" id="DivConsultasHipotecas" style="margin-top:3em;">
            <div class="card">
                <div class="card-panel m-0 p-3 red darken-4 rounded-0">
                    <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 14px;">Constitucion de Hipotecas</span>
                </div>
                <div class="card-content p-3">
                    <div class="row ">
                        <div class="col s12">
                            <span class=" font-weight-bold" style="font-size: 20px;color:#a73924;">Requisitos:</span>
                        </div>
                    </div><br /><br />
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="container">
                                    <p>
                                        1. Solicitud debidamente firmada o minuta suscrita por las partes y autorizada por abogado colegiado.<br /><br />
                                        2. Proporcionar generales de ley del solicitante o de los contratantes<br /><br />
                                        3. Adjuntar fotocopia de documentos de identidad (DNI, CIP, Carnet de Extranjería, Etc.) del solicitante o contratantes.<br /><br />
                                        4. Cancelar importe de las publicaciones, cuando corresponda.<br /><br />
                                        5. Adjuntar copias originales de las partidas del Registro Civil que correspondan.<br /><br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col s12">
                            <span class=" font-weight-bold" style="font-size: 20px;color:#a73924;">Costos :</span>
                        </div>
                    </div>


                    <!--<div style="text-align:center;margin-top:3em;" class="col-lg-3">
        <a class="btn waves-effect waves-light red" id="btnFormularioHP">Formulario</a>
    </div>-->

                </div>
            </div>
        </form>
    </div>
    <a href="https://api.whatsapp.com/send?phone=51924060249&text=Hola%20Notar%c3%ada%20Paino%21%20Me%20conecto%20desde%20su%20sitio%20web%2c%20en%20la%20ventana%20Home%20%28https%3a%2f%2fwww.notariapaino.com.pe%2f%29&source=&data=">
        <img class="wsp" src="images/img/whatsApp-clic-para-chatear.png" />
    </a>
    <script src="scripts/EventFormularios/EventFormularios.js"></script>
</body>
</html>