<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <form class="col s12" id="divBusqueda" style="margin-top:3em;">
            <div class="card">
                <div class="card-panel m-0 p-3 blue lighten-4 rounded-0">
                    <span class="indigo-text font-weight-bold" style="font-size: 14px;">Cartas Notariales</span>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s12">
                            <input placeholder="" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s5"><label>Todos</label></div>
                        <div class="col s7">
                            <select class="browser-default" id="CboTodos">
                                <option value="A">Todos</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <input placeholder="Fecha" id="txtFecha" name="txtFecha" type="text" class="form-control col s10">&nbsp;
                            <i class="far fa-calendar-day center-align" style="font-size:34px;"></i>
                        </div>
                    </div>

                    <div style="text-align:center;margin-top:2em;" class="col-lg-6">
                        <a class="btn waves-effect waves-light red" href="">Filtrar</a>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nro de Carta</th>
                                        <th>Nombre Remitente</th>
                                        <th>Estado</th>
                                        <th>PDF</th>
                                        <th>Consoli.</th>
                                        <th>Entreg.</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td><a class="far fa-eye"></a></td>
                                        <td><a class="far fa-file"></a></td>
                                        <td><a class="far fa-user"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>