<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <!-- Formulario -->
    <div class="container">
        <form class="col s12" id="DivFormDivorcios" style="margin-top:3em;">
            <div class="card">
                <div class="card-panel m-0 p-3 red darken-4 rounded-0">
                    <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 14px;">Formulario de Consultas</span>
                    <span class="red darken-4 colorwhite font-weight-bold left-align" style="font-size: 14px;float:right;"><i style="font-size:22px;" class="far fa-eye-slash" id="OcultarDivorcios"></i></span>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Nombre y Apellidos</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="Nombre y Apellidos" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">E-Mail</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="E-Mail" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Teléfono</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="Teléfono" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Horario para Contactar</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="Horario para Contactar" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Nombre de Empresa</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="Nombre de Empresa" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Consultas que deseaba realizar</label>
                        </div>
                        <div class="col s7">
                            <textarea placeholder="Consultas que deseaba realizar" id="" name="" type="text" class="form-control col s12" rows="10" cols="50"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div style="text-align:center;margin-top:3em;" class="col-lg-3">
                        <a class="btn waves-effect waves-light red" href="#">Enviar</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <!-- Fin Formulario -->
    <div class="container">
        <div class="col s12" id="DivConsultasDivorcios" style="margin-top:3em;">
            <div class="card">
                <div class="card-panel m-0 p-3 red darken-4 rounded-0">
                    <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 14px;">Divorcios</span>
                </div>
                <div class="card-content p-3">
                    <div class="row ">
                        <div class="col s12">
                            <span class=" font-weight-bold" style="font-size: 20px;color:#a73924;">Requisitos:</span>
                        </div>
                    </div><br /><br />
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="container">
                                    <p>
                                        Se debe presentar  a la notaria la  solicitud de separación convencional con firma y huella digital de ambos cónyuges,  autorizada por abogado y anexar a esta:<br /><br />

                                        1. Copia simples y legibles de los documentos de identidad de  los solicitantes.<br /><br />
                                        2. Copia certificada del acta o partida de matrimonio  de los peticionantes expedida con no más de 3  meses  de  antigüedad respecto  de la fecha de  presentación de la solicitud.<br /><br />
                                        3. Declaración jurada, con firma y huella digital de los  peticionantes de no tener hijos menores de edad o  mayores con incapacidad.<br /><br />
                                        4. De ser el caso, copia certificada del acta de nacimiento del hijo menor de edad o incapaz expedida con no más de tres  meses respecto de la fecha de  presentación de la solicitud.<br /><br />
                                        5. De ser el caso, copia certificada de la sentencia judicial  firme o acta de conciliación que  establezca  los regímenes de patria potestad, tenencia, alimentos y visitas, o de curatela,  alimentos y vistas en caso de tener  hijo menor de edad o mayor de edad  con discapacidad.<br /><br />
                                        6. Testimonio de la escritura pública  de separación de patrimonios o de sustitución o  liquidación de régimen patrimonial inscrita en los Registros Públicos.<br /><br />
                                        7. Declaración jurada con firma y  huella de  los solicitantes de  carecer de bienes sujetos al régimen de sociedad de gananciales.<br /><br />
                                        8. Declaración jurada del último domicilio conyugal, suscrita por ambos y con la huella digital de  ambos solicitantes.<br /><br />

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col s12">
                            <span class=" font-weight-bold" style="font-size: 20px;color:#a73924;">Costos</span>
                        </div>
                    </div>


                    <!--   <div style="text-align:center;margin-top:3em;" class="col-lg-3">
           <a class="btn waves-effect waves-light red" id="btnFormularioDivorcios">Formulario</a>
       </div>-->

                </div>
            </div>
        </div>
    </div>
    <a href="https://api.whatsapp.com/send?phone=51924060249&text=Hola%20Notar%c3%ada%20Paino%21%20Me%20conecto%20desde%20su%20sitio%20web%2c%20en%20la%20ventana%20Home%20%28https%3a%2f%2fwww.notariapaino.com.pe%2f%29&source=&data=">
        <img class="wsp" src="images/img/whatsApp-clic-para-chatear.png" />
    </a>
    <script src="scripts/EventFormularios/EventFormularios.js"></script>
</body>
</html>