<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>

    <!-- Formulario -->
    <div class="container">
        <form class="col s12" id="DivFormSIntestada" style="margin-top:3em;">
            <div class="card">
                <div class="card-panel m-0 p-3 red darken-4 rounded-0">
                    <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 14px;">Formulario de Consultas</span>
                    <span class="red darken-4 colorwhite font-weight-bold left-align" style="font-size: 14px;float:right;"><i style="font-size:22px;" class="far fa-eye-slash" id="OcultarSIntestada"></i></span>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Nombre y Apellidos</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="Nombre y Apellidos" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">E-Mail</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="E-Mail" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Teléfono</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="Teléfono" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Horario para Contactar</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="Horario para Contactar" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Nombre de Empresa</label>
                        </div>
                        <div class="col s7">
                            <input placeholder="Nombre de Empresa" id="" name="" type="text" class="form-control col s12">
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div class="row">
                        <div class="col s4">
                            <label style="font-size:14px;">Consultas que deseaba realizar</label>
                        </div>
                        <div class="col s7">
                            <textarea placeholder="Consultas que deseaba realizar" id="" name="" type="text" class="form-control col s12" rows="10" cols="50"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-content p-3">
                    <div style="text-align:center;margin-top:3em;" class="col-lg-3">
                        <a class="btn waves-effect waves-light red" href="#">Enviar</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <!-- Fin Formulario -->

    <div class="container">
        <form class="col s12" id="DivConsultaSIntestada" style="margin-top:3em;">
            <div class="card">
                <div class="card-panel m-0 p-3 red darken-4 rounded-0">
                    <span class="red darken-4 colorwhite font-weight-bold" style="font-size: 14px;">Sucesión Intestada</span>
                </div>
                <div class="card-content p-3">
                    <div class="row ">
                        <div class="col s12">
                            <span class=" font-weight-bold" style="font-size: 20px;color:#a73924;">Requisitos:</span>
                        </div>
                    </div><br /><br />
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="container">
                                    <p>
                                        La solicitud debe incluir:<br /><br />

                                        1. Nombre del causante;<br /><br />
                                        2. Indicación del último domicilio del causante<br /><br />
                                        3. Copia certificada de la partida   de   defunción o de la declaración judicial de muerte presunta;<br /><br />
                                        4. Copia certificada    de   la  partida  de   nacimiento     del   presunto    heredero     o  herederos,     o documento público que contenga el reconocimiento o la declaración judicial, si se trata de hijo extramatrimonial o adoptivo;<br /><br />
                                        5. Partida de matrimonio o la inscripción en el Registro Personal de la declaración de la unión de hecho, adjuntándose, según sea el caso, el testimonio de la escritura pública o la copia certificada de la sentencia judicial firme<br /><br />
                                        6. Relación de los bienes conocidos;<br /><br />
                                        7. Certificación Registral en la que conste que no hay inscrito testamento u otro proceso de sucesión intestada; en el lugar del último domicilio del causante y en aquel donde hubiera tenido bienes inscritos;<br /><br />
                                        8. Copia del documento de identidad del solicitante<br /><br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col s12">
                            <span class=" font-weight-bold" style="font-size: 20px;color:#a73924;">Costos</span>
                        </div>
                    </div>


                    <!-- <div style="text-align:center;margin-top:3em;" class="col-lg-3">
         <a class="btn waves-effect waves-light red" id="btnFormIntestada">Formulario</a>
     </div>-->

                </div>
            </div>
        </form>
    </div>
    <a href="https://api.whatsapp.com/send?phone=51924060249&text=Hola%20Notar%c3%ada%20Paino%21%20Me%20conecto%20desde%20su%20sitio%20web%2c%20en%20la%20ventana%20Home%20%28https%3a%2f%2fwww.notariapaino.com.pe%2f%29&source=&data=">
        <img class="wsp" src="images/img/whatsApp-clic-para-chatear.png" />
    </a>
    <script src="scripts/EventFormularios/EventFormularios.js"></script>
</body>
</html>